*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/caches
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/compiler.xml
/.idea/vcs.xml
/.idea
.DS_Store
/build
/.gradle
/app/.cxx
/app/build
/captures
.externalNativeBuild
